@import '../../core/styles/variables.scss';

.body1{
    font-family: map-get($font-body-01, family); 
    font-weight: map-get($font-body-01, weight); 
    font-size: map-get($font-body-01, size); 
    line-height: map-get($font-body-01, line-height);
}

.body2{
    font-family: map-get($font-body-02, family); 
    font-weight: map-get($font-body-02, weight); 
    font-size: map-get($font-body-02, size); 
    line-height: map-get($font-body-02, line-height);
}

