@import '../../core/styles/variables.scss';

.h1 {
  font-family: map-get($font-heading-h1, family);
  font-weight: map-get($font-heading-h1, weight);
  font-size: map-get($font-heading-h1, size);
  line-height: map-get($font-heading-h1, line-height);
}

.h2 {
  font-family: map-get($font-heading-h2, family);
  font-weight: map-get($font-heading-h2, weight);
  font-size: map-get($font-heading-h2, size);
  line-height: map-get($font-heading-h2, line-height);
}

.h3 {
  font-family: map-get($font-heading-h3, family);
  font-weight: map-get($font-heading-h3, weight);
  font-size: map-get($font-heading-h3, size);
  line-height: map-get($font-heading-h3, line-height);
}

.h4 {
  font-family: map-get($font-heading-h4, family);
  font-weight: map-get($font-heading-h4, weight);
  font-size: map-get($font-heading-h4, size);
  line-height: map-get($font-heading-h4, line-height);
}
.h5 {
  font-family: map-get($font-heading-h5, family);
  font-weight: map-get($font-heading-h5, weight);
  font-size: map-get($font-heading-h5, size);
  line-height: map-get($font-heading-h5, line-height);
}
.h6 {
  font-family: map-get($font-heading-h6, family);
  font-weight: map-get($font-heading-h6, weight);
  font-size: map-get($font-heading-h6, size);
  line-height: map-get($font-heading-h6, line-height);
}
