@import '../../core/styles/variables.scss';

.message-box-wrapper {
  width: 100%;
}

.message-box {
  border: #{$xs6}px solid rgba($color-lightgrey, $opacity-md);
  padding: #{$md}px;
  font-family: map-get($font-body-01, family);
  font-weight: map-get($font-body-01, weight);
  font-size: map-get($font-body-01, size);
  line-height: map-get($font-body-01, line-height);
  color: $color-darkblue;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  transition: border-color #{$time-xs};

  &:focus {
    outline: none;
    border-color: $color-darkblue;
  }
}

.error {
  display: block;
  font-family: map-get($font-body-01, family);
  font-size: map-get($font-body-01, size);
  color: $color-error;
  margin-top: #{$xs4}px;
  min-height: map-get($font-body-01, line-height);
  line-height: map-get($font-body-01, line-height);
}
