@import '../../core/styles/variables.scss';

.header-wrapper{
    padding: 0 #{$xl7}px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-darkblue;
}

.links{
    display: flex;
    gap: #{$sm}px;
    align-items: center;
}

.title{
    color: $color-white;
}

.link-item{
    font-family: map-get($font-body-01, family); 
    font-weight: map-get($font-body-01, weight); 
    font-size: map-get($font-body-01, size); 
    line-height: map-get($font-body-01, line-height);
    text-decoration: none;
    color: $color-white;
}